<div class="mb-site container">
    <section class="mb-header row flex-items-xs-middle">
        <div class="col-xs-4">
            <div class="mb-header-logo u-align-left">
                <img src="~/images/logo.svg" alt="BikeSharing Logo">
            </div>
        </div>
        <div class="col-xs-8">
            <nav class="mb-menu u-align-right">
                <input type="checkbox"
                       class="mb-menu-check is-hidden"
                       name="responsiveMenu"
                       id="responsiveMenu" />

                <label for="responsiveMenu" class="mb-menu-toggle">
                    <span class="mb-menu-line"></span>
                    <span class="mb-menu-line mb-menu-line--middle"></span>
                    <span class="mb-menu-line mb-menu-line--bottom"></span>
                </label>

                <ul class="mb-menu-wrapper">
                    <li class="mb-menu-item">
                        <a class="mb-menu-link" href="@ViewBag.PrivateWebsite">Sign In</a>
                    </li>
                    <li class="mb-menu-item">
                        <a class="mb-menu-link" href="#">How it Works</a>
                    </li>
                    <li class="mb-menu-item">
                        <a class="mb-menu-link" href="#">Intelligent App</a>
                    </li>
                    <li class="mb-menu-item">
                        <a class="mb-menu-link" href="#">Cities</a>
                    </li>
                    <li class="mb-menu-item">
                        <a class="mb-menu-link" href="#">Our clients</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="mb-hero">
        <article class="mb-hero-banner u-center-container">
            <div class="mb-hero-picture u-center-horizontal">
                <picturex pre="true" alt="Hero image" name="hero"></picturex>
            </div>
            <ul class="mb-hero-list">
                <li class="mb-hero-item">
                    <div class="mb-hero-logo wayp">
                        <img src="~/images/logo_gray.svg" alt="BikeSharing hero logo">
                    </div>
                </li>
                <li class="mb-hero-item">
                    <div class="mb-hero-info wayp">
                        BikeSharing360 is a smart bike sharing system with 10,000 bikes distributed in 650 stations located throughout New York City and Seattle.
                    </div>
                </li>
                <li class="mb-hero-item">
                    <ul class="mb-hero-downloaders wayp">
                        <li class="mb-hero-downloader" data-title="Windows">
                            <picturex pre="false" alt="Windows" name="get_windows_white"></picturex>
                        </li>
                        <li class="mb-hero-downloader" data-title="Android">
                            <picturex pre="false" alt="Android" name="get_google-play_white"></picturex>
                        </li>
                        <li class="mb-hero-downloader" data-title="iOS">
                            <picturex pre="false" alt="iOS" name="get_ios_white"></picturex>
                        </li>
                    </ul>
                </li>
            </ul>
        </article>
    </section>

    <section class="mb-hiw">
        <header class="mb-site-header mb-site-header--big">
            How it Works
        </header>
        <ul class="mb-hiw-list row flex-items-xs-between">
            <li class="mb-hiw-item col-lg wayp" data-number="1" data-offset="800">
                <div>
                    <h2 class="mb-hiw-title col-xs-12">Book</h2>
                    <div class="mb-hiw-info col-xs-12">Find and book bikes and get personalized recommendations of events in your city. Get your bike, purchase tickets to events, and ride to them.</div>
                    <div class="mb-hiw-image col-xs-12">
                        <div class="mb-hiw-shadow col-xs-12">
                            <picturex pre="true" alt="Book" name="book"></picturex>
                        </div>
                    </div>
                </div>
            </li>
            <li class="mb-hiw-item col-lg wayp" data-number="2" data-offset="800">
                <div>
                    <h2 class="mb-hiw-title col-xs-12">Discover</h2>
                    <div class="mb-hiw-info col-xs-12">Discover a fun and efficient new way to move around your city. Learn about new routes and get personalized recommendations on routes. Riding a bike and buyinh what you need on the road was never so easy and enjoyable.</div>
                    <div class="mb-hiw-image col-xs-12">
                        <div class="mb-hiw-shadow col-xs-12">
                            <picturex pre="true" alt="Discover" name="discover"></picturex>
                        </div>
                    </div>
                </div>
            </li>
            <li class="mb-hiw-item col-lg wayp" data-number="3" data-offset="800">
                <div>
                    <h2 class="mb-hiw-title col-xs-12">Enjoy</h2>
                    <div class="mb-hiw-info col-xs-12">Leave your car in your garage and get fit while you enjoy and discover your city. Let BikeSharing360 suggest custom rides just for you and go where you need while you enjoy what you like.</div>
                    <div class="mb-hiw-image col-xs-12">
                        <div class="mb-hiw-shadow col-xs-12">
                            <picturex pre="true" alt="Enjoy" name="enjoy"></picturex>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <section class="mb-popular">
        <header class="mb-site-header mb-site-header--brand">
            Intelligent App
        </header>

        <div class="mb-site-container">
            <div class="mb-popular-maps wayp">
                <div class="mb-popular-map mb-popular-map--layer1">
                    <picturex pre="false" alt="Map layer1" name="popular-map-layer1"></picturex>
                </div>
                <div class="mb-popular-map mb-popular-map--layer2">
                    <picturex pre="false" alt="Map layer2" name="popular-map-layer2"></picturex>
                </div>
                <div class="mb-popular-map mb-popular-map--layer3">
                    <picturex pre="false" alt="Map layer3" name="popular-map-layer3"></picturex>
                </div>
                <div class="mb-popular-map mb-popular-map--layer4">
                    <picturex pre="false" alt="Map layer4" name="popular-map-layer4"></picturex>
                </div>

                <div class="mb-popular-content u-center-vertical wayp">
                    <div class="mb-popular-logo">
                        <img src="~/images/logo.svg" alt="BikeSharing Logo">
                    </div>
                    <div class="mb-popular-text">
                        On your mark, get set, get ready for lots of fun! Download our app, go green, and discover an easy way to find and rent bikes. Our bikes and mobile app allows you have a unique and personal riding experience. Get event recommendations and purchase what you need where you are while you enjoy your ride.
                    </div>
                    <div class="mb-popular-download">
                        <span class="mb-popular-subtitle">
                            Download App
                        </span>
                        <ul class="mb-popular-downloaders">
                            <li class="mb-popular-downloader" data-title="Windows">
                                <picturex pre="false" alt="Windows" name="get_windows_gray"></picturex>
                            </li>
                            <li class="mb-popular-downloader" data-title="Android">
                                <picturex pre="false" alt="Android" name="get_google-play_gray"></picturex>
                            </li>
                            <li class="mb-popular-downloader" data-title="iOS">
                                <picturex pre="false" alt="iOS" name="get_ios_gray"></picturex>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @{
        var cities = new[]
            {
                new { Name = "NewYork", Locale = "New York City" },
                new { Name = "Seattle", Locale = "Seattle" },
                new { Name = "SanFrancisco", Locale = "Coming Soon..." },
                new { Name = "Boston", Locale = "Coming Soon..."},
                new { Name = "Barcelona", Locale = "Coming Soon..." },
                new { Name = "MexicoCity", Locale = "Coming Soon..."}
            }
        .ToList();
    }
    <section class="mb-cities js-cities">
        @for (int i = 1; i <= cities.Count; i++)
        {
            if (i == 3)
            {
                <input class="mb-cities-check js-cities-check" type="radio" checked="checked" name="bikes-slider" id="bikes-slider_@i" />
            }
            else
            {
                <input class="mb-cities-check js-cities-check" type="radio" name="bikes-slider" id="bikes-slider_@i" />
            }
        }
        <div class="mb-cities-prev">
            <div class="mb-cities-prevtitle">Back</div>
            <div class="mb-cities-labels">
                @{
                    <label class="mb-cities-label" for="bikes-slider_@cities.Count"></label>
                    for (int j = 1; j < cities.Count; j++)
                    {
                        <label class="mb-cities-label" for="bikes-slider_@j"></label>
                    }
                }
            </div>
        </div>
        <div class="mb-cities-text u-center-horizontal wayp" data-offset="800">
            Find thousands of bikes in New York City and Seattle. Our smart bikes provide the perfect combination of comfort and intelligence.
        </div>
        <div class="mb-cities-container">
            <div class="mb-cities-slider mb-cities-slider--vectors wayp" data-offset="700">
                <div class="mb-cities-city mb-cities-city--vectors">
                    <div class="mb-cities-bike"></div>
                </div>
                @foreach (var city in cities)
                {
                    <div class="mb-cities-city mb-cities-city--vectors">
                        <img class="mb-cities-skyline" src="~/images/city_@(city.Name).svg" alt="@city.Locale skyline">
                    </div>
                }
            </div>
            <div class="mb-cities-lines mb-cities-lines--sides u-center-horizontal"></div>
            <div class="mb-cities-skymask u-center-horizontal"></div>

            <div class="mb-cities-slider wayp" data-offset="600">
                <div class="mb-cities-city">
                    <div class="mb-cities-bike"></div>
                </div>
                @foreach (var city in cities)
                {
                    <div class="mb-cities-city">
                        <div class="mb-cities-bike">
                            <picturex pre="false" alt="@(city.Locale)" name="@("bike_"+ city.Name)"></picturex>
                        </div>
                        <div class="mb-cities-bike mb-cities-bike--gray">
                            <picturex pre="false" alt="@(city.Locale + " gray")" name="@("bw_bike_"+ city.Name)"></picturex>
                        </div>
                        <div class="mb-cities-button u-center-horizontal">@city.Locale</div>
                    </div>
                }
            </div>
            <div class="mb-cities-lines u-center-horizontal"></div>
        </div>
        <div class="mb-cities-next">
            <div class="mb-cities-nexttitle">Next</div>
            <div class="mb-cities-labels">
                @{
                    for (int k = 2; k <= cities.Count; k++)
                    {
                        <label class="mb-cities-label" for="bikes-slider_@k"></label>
                    }
                    <label class="mb-cities-label" for="bikes-slider_1"></label>
                }
            </div>
        </div>
    </section>

    <section class="mb-clients">
        <div class="mb-clients-background">
            <picturex pre="true" alt="Clients comments" name="background_comments"></picturex>
        </div>
        <div class="mb-clients-opinion u-center-both">
            <div class="mb-clients-text">
                <span class="mb-clients-quote wayp" data-offset="800">I save a lot of time from my morning commute while enjoying a daily workout on my way to work. I love to use my mobile app to track my routes and share with friends.</span>
            </div>
            <div class="mb-clients-author wayp" data-offset="800">
                <div class="mb-clients-image">
                    <picturex pre="true" alt="Clients image" name="photo_avatar-woman"></picturex>
                </div>
                <div class="mb-clients-info">
                    <span class="mb-clients-name">Bridget Gaila Beckett, 38</span>
                    <span class="mb-clients-city">Seattle</span>
                </div>
            </div>
        </div>
    </section>

    <div class="mb-footerb"></div>
    <footer class="mb-footer">
        <div class="mb-site-container">
            <div class="row u-m-0">
                <div class="col-xs-4">
                    <img class="mb-footer-logo" src="~/images/logo_square.svg" alt="BikeSharing Logo">
                    <img class="mb-footer-ms" src="~/images/microsoft.svg" alt="Microsoft Logo">
                </div>
                <div class="col-xs-8 u-align-right">
                    <ul class="mb-footer-menu">
                        <li class="mb-footer-item">
                            <a class="mb-footer-link" href="#hiw">How it Works</a>
                        </li>
                        <li class="mb-footer-item">
                            <a class="mb-footer-link" href="#popular">Intelligent App</a>
                        </li>
                        <li class="mb-footer-item">
                            <a class="mb-footer-link" href="#cities">Cities</a>
                        </li>
                        <li class="mb-footer-item">
                            <a class="mb-footer-link" href="#clients">Our clients</a>
                        </li>
                    </ul>
                    <ul class="mb-footer-menu">
                        <li class="mb-footer-item mb-footer-item--social">
                            <span class="mb-footer-link icon-facebook"></span>
                        </li>
                        <li class="mb-footer-item mb-footer-item--social">
                            <span class="mb-footer-link icon-twitter"></span>
                        </li>
                        <li class="mb-footer-item mb-footer-item--social">
                            <span class="mb-footer-link icon-instagram"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mb-footer-info row u-m-0">
                <div class="col-md-7 u-align-left">
                    This is a sample demo application for developers built with educational purposes only. Source code is available at:  <a href="http://mynewdemoGitHublocation" target="_blank">http://mynewdemoGitHublocation</a>
                </div>
                <div class="mb-footer-links col-md-5 u-align-right">
                    <span class="u-ml-10">Terms</span>
                    <span class="u-ml-10">Privacy</span>
                    <span class="u-ml-10">Contact</span>
                </div>
            </div>
        </div>
    </footer>
</div>